<h3 style="text-align: center;">Angular Packages</h3>

<!-- <label>Intro :</label>
<p>This project is based on implementations of various angular projects. This project also covers the basic issues
    faced by angular developers with step by step description.</p>
<p>Every concepts are included into different modules.</p> -->

<label>Implemntations :</label><br>

<!-- <p>Data Binding - string interpolation</p> -->
<!-- <button (click)="stringInterpolation()">str_int</button> -->
<button [routerLink]="['/stripe-js-normal-imp']">JS Stripe using custom form</button><br>
<button [routerLink]="['/stripe-js-checkout-form']">JS Stripe Checkout form</button><br>
<button [routerLink]="['/ngx-paypal-package']">Paypal</button><br>
<button [routerLink]="['/agm-package']">Google Map Integration</button><br>
<button [routerLink]="['/google-adsense']">Google AddSense</button><br>
<button [routerLink]="['/ng-select']">ng-select</button><br>

