<h1>{{ title }}</h1>

<!-- If getting error
- delete node_modules + package.lock.json
- npm install
- npm install @types/googlemaps@3.39.12 --save-dev
- npm install @agm/core --save

"@agm/core": "^3.0.0-beta.0",
"@types/googlemaps": "3.39.12", -->

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>